
<div class="col-md-2">
    <nav  class="nav navbar-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-class="{active : isActive('/admin')}">
                <a ui-sref="admin">Overview</a></li>
            <li role="presentation" ng-class="{active : isActive('/admin/employees')}">
                <a ui-sref=".employees"> List of employees</a></li>
            <li role="presentation" ng-class="{active : isActive('/admin/employee')}">
                <a ui-sref=".employee">Add new employee</a></li>
            <li role="presentation" ng-class="{active : isActive('/admin/projects')}">
                <a ui-sref=".projects">List of projects</a></li>
            <li role="presentation" ng-class="{active : isActive('/admin/project')}">
                <a ui-sref=".project">Add new project</a></li>

        </ul>
    </nav>
</div>
<div class="col-md-9" ui-view>
</div>

<!--
<li><a ui-sref="home" ui-sref-active="active">Home</a></li>
-->