
<!---->

<h1 class="page-header">Add new Employee:</h1>

<div class="col-md-6">
    <div class="well">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <input type="text" ng-model="employee.name" class="form-control" id="exampleInputEmail1" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Last name</label>
                <input type="text"  ng-model="employee.lastName" class="form-control" id="exampleInputPassword1" placeholder="Last name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Job Description</label>
                <input type="text"  ng-model="employee.jobDescription" class="form-control" id="exampleInputPassword1" placeholder="Job Description">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Username</label>
                <input type="text"  ng-model="user.username" class="form-control" id="exampleInputPassword1" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" ng-click="addEmployee()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add new employee</button>
            <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div>