<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart Project</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <script src="../angular/angular.min.js"></script>
    <script src="../angular-route/angular-route.min.js"></script>
    <script src="../angular-resource/angular-resource.min.js"></script>
    <script src="../jquery/dist/jquery.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- app config -->
    <script src="../app.js"></script>
    <script src="../router.js"></script>

    <!-- Controllers -->
    <!-- employee controllers definition -->
    <script src="../controllers/employeeController.js"></script>
    <script src="../controllers/addEmployeeController.js"></script>
    <script src="../controllers/editEmployeeController.js"></script>

    <!-- projects controllers definition -->
    <script src="../controllers/projectController.js"></script>
    <script src="../controllers/editProjectController.js"></script>
    <script src="../controllers/addProjectController.js"></script>

    <!-- login controllers -->
    <script src="../controllers/loginController.js"></script>
    <script src="../controllers/sideController.js"></script>

    <!-- services definition -->
    <script src="../services/employeeFactory.js"></script>
    <script src="../services/projectFactory.js"></script>
    <script src="../services/userFactory.js"></script>

</head>
<body ng-app="chartsApp">
<div >
    <div class="row">
        <div class="col-md-2" ng-controller="SideCtrl">
            <h5 ng-show="checkIfUserLoggedIn()" class="pull-right"><a href="#/login">Logout</a></h5>
            <nav ng-show="checkIfAdminLoggedIn()" class="nav navbar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#/admin/employeeslist">List of employees</a></li>
                    <li role="presentation"><a href="#/admin/employee">Add new employee</a></li>
                    <li role="presentation"><a href="#/admin/projects">List of projects</a></li>
                    <li role="presentation"><a href="#/admin/project">Add new project</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-d-9" ng-view>
        </div>

    </div>
</div>

</body>
</html>
