
 <h1 class="page-header">Manage Project</h1>
    <div class="well">
        <h4>Project Name: {{ project.name }}</h4>
        Start date: <label>{{ project.fromDate | date}}</label><br/>
        End date: <label>{{ project.toDate | date}}</label>
    </div>
    <h4>Assign employee:</h4>

    <div class="row" >
        <div class="form-group">
            <div class="form-group">
                <div class="col-xs-2">
                    <select  class="form-control"  ng-model="selectEmployee" ng-options="employee as employee.name + ' ' + employee.lastName for employee in employees"></select>
                </div>
            </div>
           <div class="form-group">
                <div class="col-xs-2">
                    <select  class="form-control"  ng-model="selectProjectRole" ng-options="role.name for role in roles"></select>
                </div>
           </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <input type="number" min="1" ng-model="workingHours" class="form-control" placeholder="Input working hours">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <input type="date"  class="form-control" ng-model="fromDate" placeholder="Input working hours">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <input type="date"  class="form-control" ng-model="toDate" placeholder="Input working hours">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <button type="button" ng-click="addEmployee()" class="btn btn-info">Add Employee</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 50px">
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Job Position</th>
                    <th>Working hours</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Remove</th>
                </tr>
                <tr ng-repeat="eff in effort">
                    <td>
                        {{ eff.employee.name + ' ' + eff.employee.lastName }}
                    </td>
                    <td>
                        {{ eff.effortInformation.role }}
                    </td>
                    <td>
                        {{ eff.effortInformation.percent }}
                    </td>
                    <td>
                        {{ eff.effortInformation.fromDate | date }}
                    </td>
                    <td>
                        {{ eff.effortInformation.toDate | date }}
                    </td>
                    <td>
                        <button type="button" ng-click="removeEmployee($index)" class="btn btn-danger">x</button>
                    </td>
                </tr>
        </table>
    </div>
    </div>
    <div class="row">
        <button type="submit" ng-click="saveTeam()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-save"></span>  Save</button>
    </div>
    <div class="row top-buffer">
        <h3 class="page-header">Assigned Employees</h3>
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Job Position</th>
                <th>Working hours</th>
                <th>From</th>
                <th>To</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="eff in assignedEmployees">
                <td>
                    <span ng-hide="editing">{{ eff.name + ' ' + eff.lastName }}</span>
                    <input ng-show="editing" type="text" ng-model="editEffort.employee" placeholder="Employee" ng-required />
                </td>
                <td>
                     <span>{{ eff.role }}</span>
                </td>
                <td>
                     <span>{{ eff.percent }}</span>
                </td>
                <td>
                     <span>{{ eff.fromDate | date }}</span>
                </td>
                <td>
                     <span>{{ eff.toDate | date }}</span>
                </td>
                <td>
                    <button type="button" ng-hide="editing" ng-click="editing = true"  class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="submit" ng-show="editing" ng-click="editing = false" class="btn btn-success"><span class="glyphicon glyphicon-save"></span></button>
                </td>

                <td>
                    <button type="button" ng-click="removeEffort(eff.effortInformationId)" class="btn btn-danger">x</button>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>