<h1 class="page-header">Projects</h1>

<div class="panel with-nav-tabs panel-default">

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Status</th>
                    <th>View</th>
                    <th ng-show="checkIfManagerLoggedIn()">Manage</th>
                    <th ng-show="checkIfAdminLoggedIn()" >Edit</th>
                    <th ng-show="checkIfAdminLoggedIn()" >Delete</th>
                </tr>
                <tr ng-repeat="project in projects">
                    <td>
                        {{ project.name }}
                    </td>
                    <td>
                        {{ project.description }}
                    </td>
                    <td>
                        {{ project.fromDate }}
                    </td>
                    <td>
                        {{ project.toDate  }}
                    </td>
                    <td>
                        {{ project.status  }}
                    </td>
                    <td>
                        <button type="button" ng-click="viewProject(project.id)" class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>
                    </td>
                    <td ng-show="checkIfManagerLoggedIn()">
                        <button type="button" ng-click="manageProject(project.id)" class="btn btn-warning"><span class="glyphicon glyphicon-check"></span></button>
                    </td>
                    <td ng-show="checkIfAdminLoggedIn()">
                        <button type="button" ng-click="editProject(project.id)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                    </td>
                    <td ng-show="checkIfAdminLoggedIn()">
                        <button type="button" ng-click="removeProject(project.id, $index)" class="btn btn-danger">x</button>
                    </td>
                </tr>
            </table>
        </div>
</div>







