<div class="container">
    <div class="col-md-9">
    <h3>Add Project:</h3>
    <form>
        <div class="form-group">
            <label>Project Name</label>
            <input type="text" class="form-control" placeholder="Project Name" ng-model="project.name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea type="text"  class="form-control"  placeholder="Project Description" ng-model="project.description"></textarea>
        </div>
        <div class="form-group">
            <label>Date from:</label>
            <input  type="date" placeholder="yyyy-MM-dd"  class="form-control"  ng-model="project.fromDate">
        </div>
        <div class="form-group">
            <label>Date to:</label>
            <input type="date"  placeholder="yyyy-MM-dd" class="form-control" ng-model="project.toDate">
        </div>
        <div class="form-group">
            <label>Project Status</label>
            <input type="text" placeholder="Project Status" class="form-control" ng-model="project.status">
        </div>
        <div class="form-group">
            <h4>Select project manager</h4>
            <select class="form-control" ng-model="selectManager" ng-options="employee.name for employee in employees">
                <option value="" >Select Project Manager</option>
            </select>
        </div>
        <button type="submit" ng-click="addProject()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>  Add Project</button>
    </form>
  </div>
</div>