
<h1 class="page-header">View Project:</h1>

<div class="col-md-6">
    <div class="well">
    <form>
        <div class="form-group">
            <label>Project Name</label>
            <input ng-disabled="true" type="text" class="form-control" placeholder="Project Name" ng-model="project.name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea ng-disabled="true" type="text"  class="form-control"  placeholder="Project Description" ng-model="project.description"></textarea>
        </div>
        <div class="form-group">
            <label>Date from:</label>
            <input ng-disabled="true" type="text"  class="form-control"  ng-model="project.fromDate">
        </div>
        <div class="form-group">
            <label>Date to:</label>
            <input ng-disabled="true" type="text"  class="form-control" ng-model="project.toDate">
        </div>
        <div class="form-group">
            <label>Project Status</label>
            <input ng-disabled="true" type="text" class="form-control" ng-model="project.status">
        </div>
        <div class="form-group">
            <label>Project Manager</label>
            <input ng-disabled="true" type="text" class="form-control" ng-model="manager">
        </div>
        <button type="submit" ng-click="cancel()" class="btn btn-primary">Cancel</button>
    </form>
</div>

   <h3 class="page-header">Assigned Employees</h3>
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Job Position</th>
                <th>Working hours</th>
                <th>From</th>
                <th>To</th>
            </tr>
            <tr ng-repeat="eff in assignedEmployees">
                <td>
                    <span ng-hide="editing">{{ eff.name + ' ' + eff.lastName }}</span>
                    <input ng-show="editing" type="text" ng-model="editEffort.employee" placeholder="Employee" ng-required />
                </td>
                <td>
                     <span>{{ eff.role }}</span>
                </td>
                <td>
                     <span>{{ eff.percent }}</span>
                </td>
                <td>
                     <span>{{ eff.fromDate | date }}</span>
                </td>
                <td>
                     <span>{{ eff.toDate | date }}</span>
                </td>
               
            </tr>
        </table>
    </div>

