.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #CB2F70;
}

.nav-pills>li>a {
   color: #333;
}

.top-buffer{
    margin-top: 40px;
}